@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .produt__desc, .produt__img {
        font-size: 22px;
        width: 450px;
    }
    .produt__img_mt {
        max-width: 200px;
    }
    .produt__text {
        max-width: 250px;
    }
    .cards__item {
        max-width: 220px;
    }
    

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header__title {
        font-size: 70px;
    }
    .product__item {
        flex-direction: column;
        align-items: center;
    }
    .product__img {
        order: -1;
    }
    .product__desc {
        font-size: 22px;
        max-width: 100%;
        text-align: center;
        margin-top: 15px;

    }
    .product__text {
        max-width: 100%;
        text-align: center;
    }
    .product__line {
        display: none;
        margin-top: 10px;
    }
    .cards {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cards__item {
         max-width: 255px;
    }
    .menu_ml {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header__title {
        font-size: 60px;
    }
    .cards__item {
        max-width: 210px;
    }
    footer .nav__content {
        justify-content: center;
    }
    footer .servise {
        margin-left: 0;
    }
}
@media (max-width: 520px) {
    .nav__content {
        flex-direction: column;
    }
    .servise {
        margin-left: 0;
    }
    .menu__link, .servise__link {
        margin: 10px 15px;
        display: inline-block;
     }
    
    .header__link {
        font-size: 16px;
    } 
    .header__title {
        font-size: 40px;
    }
    .header__content {
        width: 100%;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .product__img {
        max-width: 100%;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__title {
        text-align: center;
    }
}